<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETQ Amsterdam</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <header>
        <div class="wrapper">
            <div class="logo">ETQ.</div>
            <nav>
                <a href="../Index.html">Inicio</a>
                <a href="./Galeria.html">Galeria</a>
                <a href="./Presupuesto.html">Presupuesto</a>
                <a href="./Contacto.html" class="btnup">Contacto</a>
            </nav>
        </div>

    </header>

    <div class="contenido_total">
        <section class="contenido wrapper">
            <!--Imagenes con información de la tienda-->
            <div class="contactoimg">

                <img src="../img/store1.png" alt="store1">
                <img src="../img/store2.png" alt="store2">

            </div>
            
            <div class="contactotext1">

                <h4>ETQ Laundry Store</h4>
                <p>Déjanos limpiar tus zapatos</p>
                <p>1012 WP Amsterdam</p>

            </div>

            <div class="contactotext2">
                <h4>Amsterdam Flagship Store</h4>
                <p>Encuéntranos en Singel 465</p>
                <p>1012 WP Amsterdam</p>

            </div>
            <!--Ubicacion de la tienda-->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.1798786033382!2d4.889799815801772!3d52.367158279785556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609c02c294c7d%3A0x17172d4e68c19482!2sETQ%20Amsterdam!5e0!3m2!1ses!2ses!4v1641385196536!5m2!1ses!2ses"
                allowfullscreen="" loading="lazy"></iframe>


        </section>

    </div>

    <footer>
        <div class="div_footer">

            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">laundry store</a></li>
                        <li><a href="#">flagship store</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="redes">

                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                </div>

            </div>

        </div>

    </footer>







</body>

</html>