<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETQ Amsterdam</title>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <header>
        <div class="wrapper">
            <div class="logo">ETQ.</div>
            <nav>
                <a href="../Index.html">Inicio</a>
                <a href="./Galeria.html">Galeria</a>
                <a href="./Presupuesto.html" class="btnup">Presupuesto</a>
                <a href="./Contacto.html">Contacto</a>
            </nav>
        </div>

    </header>

    <div class="contenido_total">
        <section class="contenido wrapper">

            <h1>Formulario de registro</h1>

            <form>
                <!--Formulario de registro-->

                <div class="field">
                    <label>Nombre</label>
                    <input type="text" name="nombre" required autocomplete="on" autofocus>
                </div>

                <div class="field">
                    <label>Email</label>
                    <input type="email" name="Email" required autocomplete="on">
                </div>

                <div class="field">
                    <label>Telefono</label>
                    <input type="number" name="Telefono" required autocomplete="on">
                </div>

                <div class="textcom">
                    <label>Solicite más información</label>
                    <textarea></textarea>
                </div>

                <div class="opciones">
                    <label>¿Quieres recibir información relacionada con tus gustos?</label>
                    <div><input type="radio" name="opciones" required>Si</div>
                    <div><input type="radio" name="opciones" required>No</div>
                </div>

                <div class="privacidad">
                    <input type='checkbox' required checked>
                    <label>He leido y acepto la política de privacidad</label>
                </div>

                <div class="submit"><button>Enviar</button></div>
            </form>

        </section>

    </div>

    <footer>
        <div class="div_footer">

            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">laundry store</a></li>
                        <li><a href="#">flagship store</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="redes">

                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                </div>

            </div>

        </div>

    </footer>







</body>

</html>